html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.login-dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #ded5d5 url('../images/pexels-pixabay-158729 (1).jpg');
}

    .login-dark form {
        max-width: 500px;
        width: 90%;
        background-color: #1e2833;
        padding: 40px 60px;
        border-radius: 14px;
        color: #fff;
        box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
    }

    /* Rest of the CSS remains unchanged */

    .login-dark .illustration {
        text-align: center;
        padding: 15px 0 20px;
        font-size: 100px;
        color: #2980ef;
    }

    .login-dark form .form-control {
        background: none;
        border: none;
        border-bottom: 1px solid #434a52;
        border-radius: 0;
        box-shadow: none;
        outline: none;
        color: inherit;
    }
    .login-dark form .form-control-drop {
        background: none;
        border: none;
        border-bottom: 1px solid #434a52;
        border-radius: 0;
        box-shadow: none;
        outline: none;
        color: inherit;
    }

        .login-dark form .form-control:focus {
            border-bottom: 1px solid #2980ef; /* Use a different color to highlight the focused input */
        }
    .login-dark form .form-control option {
        /* Adjust the color and background color to improve visibility */
        color: #333;
        background-color: #f2f2f2;
    }


       

    .login-dark form .btn-primary {
        background: #214a80;
        border: none;
        border-radius: 4px;
        padding: 11px;
        box-shadow: none;
        margin-top: 26px;
        text-shadow: none;
        outline: none;
    }

        .login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
            background: #214a80;
            outline: none;
        }

    .login-dark form .forgot {
        display: block;
        text-align: center;
        font-size: 12px;
        color: #6f7a85;
        opacity: 0.9;
        text-decoration: none;
    }

        .login-dark form .forgot:hover, .login-dark form .forgot:active {
            opacity: 1;
            text-decoration: none;
        }

    .login-dark form .btn-primary:active {
        transform: translateY(1px);
    }

placeholder-red {
    color: red;
}

